extends ../../layouts/default.pug 
//- ke thua layout

include ../../mixins/box-head.pug
//- nhung box-head vao 
block main
    .container.my-3
        .row
            .col-12
                +box-head("Danh sach san pham ABC")
        .row
            .col-4.mb-3
                .product-item
                    .inner-image
                        img(src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/3/14/1023451/AF54B2E8-69F2-428B-B.jpeg", alt="Anh nui")
                        // Thẻ img là self-closing, chỉ cần src và alt, không có nội dung bên trong
                    .inner-content
                        h3.inner-title iPhone 9
                        // Tên sản phẩm
                        .inner-price-new 80$
                        // Giá mới
                        .inner-price-old 100$
                        // Giá cũ
                        .inner-discount -20%
                        // Phần trăm giảm giá
