extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(500)

  .container.my-5
    .row.justify-content-center
      .col-md-8.col-lg-6
        h1.text-center.mb-4 Đăng nhập tài khoản

        form(action="/user/login", method="POST")
          .mb-3
            label.form-label(for="email") Email
            input#email.form-control(type="email", name="email", required)

          .mb-3
            label.form-label(for="password") Mật khẩu
            input#password.form-control(type="password", name="password", required)

          button.btn.btn-primary.w-100(type="submit") Đăng nhập
